.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.button{
    width: 50px;
    height: 50px;
    padding: 5px;
}